.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 160px;
    color: black;
  }
  
  .logo img {
    height: 50px;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
  }
  
  .auth a {
    text-decoration: none;
    color: black;
    margin-left: 20px;
    cursor: pointer;
  }
  
