.guide-reviews {
  max-width: 1200px;
  margin: 20px auto;
}

.guide-reviews textarea {
  margin-top: 20px;
  padding: 20px;
  border: 1px gainsboro solid;
  border-radius: 20px;
  width: -webkit-fill-available;
  height: 100px;
}
