.profile-container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}

.about-container {
  margin: 0 auto;
  display: flex;
}

.left-section {
  width: 70%;
}

.right-section {
  width: 30%;
  text-align: center;
}

.right-section-wrapper {
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.2);
}

.left-section-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 20px;
}

.left-section-wrapper h2 {
  margin-bottom: 10px;
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.profile-name {
  font-size: 24px;
  margin-bottom: 10px;
}

.rating {
  margin-bottom: 10px;
}

.star {
  color: gold;
  font-size: 20px;
}

.experience-date {
  font-size: 14px;
  color: #666;
  margin-bottom: 15px;
}

.short-text {
  font-size: 16px;
  color: #333;
}

.languages-list,
.regions-list {
  display: flex;
}

.languages-list p,
.regions-list p {
  display: inline;
  margin-right: 5px;
}

.languages-list p:not(:last-child)::after,
.regions-list p:not(:last-child)::after {
  content: ", ";
}

.about-text {
  font-size: 16px;
  color: #333;
  line-height: 1.6;
}

.bottom-profile-wrapper {
  display: flex;
  margin-top: 40px;
}

.profile-gallery {
  width: 70%;
}

.profile-gallery-wrapper {
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.photo-grid {
  display: flex;
  gap: 10px;
}

.photo-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.photo-container-wrapper {
  display: flex;
  gap: 4px;
  height: 500px;
}

.main-photo {
  flex: 2;
  overflow: hidden;
}

.main-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photo-container-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.right-photo-container {
  flex: 1;
  overflow: hidden;
}

.right-photo-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.book-guide {
  width: 30%;
  text-align: center;
  border-radius: 20px;
  background-color: gainsboro;
  margin-top: 30px;
  height: fit-content;
}

.book-guide-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 40px;
}

.book-guide-wrapper p {
  font-size: 13px;
  margin: 5px 0 20px;
}

.book-guide-wrapper input {
  width: 100%;
  padding: 15px 20px;
  border: none;
  border-radius: 10px;
}
.book-guide-wrapper select {
  width: 100%;
  padding: 15px 10px;
  border: none;
  border-radius: 10px;
}

.book-guide-wrapper button {
  margin: 20px auto 0;
  width: fit-content;
  height: 50px;
  background-color: #ff7b1a;
  color: white;
  border: none;
  padding: 12px 40px;
  border-radius: 15px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.book-guide-wrapper button:hover {
  background-color: #e96a00;
}

@media (max-width: 1024px) {
  .profile-container {
    padding: 30px;
    margin: 20px auto;
  }

  .about-container {
    flex-direction: column;
  }
  .left-section,
  .right-section {
    width: 100%;
  }
  .right-section {
    margin-top: 20px;
  }

  .bottom-profile-wrapper {
    flex-direction: column;
  }
  .profile-gallery,
  .book-guide {
    width: 100%;
  }
  .profile-gallery-wrapper {
    padding-right: 0;
    padding-bottom: 20px;
  }
  .book-guide {
    margin-top: 20px;
  }

  .languages-list,
  .regions-list {
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .profile-container {
    width: 90%;
    padding: 20px;
    margin: 20px auto;
  }

  .about-container {
    flex-direction: column;
  }
  .left-section,
  .right-section {
    width: 100%;
  }
  .right-section {
    margin-top: 15px;
  }

  .profile-picture {
    width: 120px;
    height: 120px;
  }
  .profile-name {
    font-size: 20px;
  }
  .rating .star {
    font-size: 18px;
  }
  .experience-date {
    font-size: 12px;
  }
  .left-section-wrapper h2 {
    font-size: 18px;
  }
  .about-text {
    font-size: 14px;
  }

  .bottom-profile-wrapper {
    flex-direction: column;
  }
  .profile-gallery,
  .book-guide {
    width: 100%;
  }
  .book-guide-wrapper {
    padding: 20px;
  }
  .book-guide-wrapper input {
    padding: 10px 15px;
  }
  .book-guide-wrapper button {
    padding: 10px 30px;
    font-size: 14px;
  }

  .photo-grid img {
    width: 100%;
    flex-direction: column;
  }
}
