.guides-list-container {
  padding: 20px;
}

.guides-list-container .guide-wrapper {
  text-align: left;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  margin-top: 10%;
  justify-content: space-between;
  display: flex;
}

.guide-wrapper {
  margin-bottom: 20px;
}

.guide-wrapper h3 {
  cursor: pointer;
  color: grey;
  font-weight: 300;
}

.guide-item-link {
  text-decoration: none;
  color: inherit;
}

.guide-item-link:hover {
  text-decoration: none;
  color: inherit;
}

.guides-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 1200px;
}
.guides-list-container ul li .img {
  height: 380px;
  width: 370px;
  background-color: #ddd;
}
.guides-list-container ul li img {
  height: 380px;
  width: 370px;
}
.guide-item button {
  margin-top: 10px;
  border: 2px solid;
  border-color: blue;
  padding: 10px 20px;
  background-color: white;
}

.guide-item button:hover {
  border-color: blue;
  color: white;
  background-color: blue;
}

.guide-item {
  text-align: left;
  background: white;
}

.guide-item h3 {
  margin-bottom: 10px;
}

.guide-item p {
  margin: 5px 0;
}

.rating {
  margin-top: 10px;
}

.star {
  font-size: 1.2rem;
  margin-right: 5px;
}

.full-star,
.half-star {
  color: #ffc107;
}

.empty-star {
  color: #ddd;
}
