.guide-review-list {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
}
.review-list-container {
  padding: 20px;
  display: flex;
}
.review-list-container img {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  margin-right: 20px;
}
.review-wrapper {
  width: 100%;
}
.reply-button {
  display: flex;
  justify-content: end;
}

.reply-button button {
  background-color: #ff7b1a;
  color: white;
  border-radius: 40px;
  border: none;
  padding: 10px 40px;
}
.name-date-review {
  display: flex;
  justify-content: space-between;
}
